* {
  margin: 0;
  box-sizing: content-box;
}

:root {
  --cc-white: hsl(0, 0%, 100%);
  --cc-lightGray: hsl(212, 45%, 89%);
  --cc-grayBlue: hsl(220, 15%, 55%);
  --cc-darkBlue: hsl(218, 44%, 22%);

  --fs-paragraph: 15px;
  --ff-Outfit: "Outfit", Arial, san-serif;

  --fw-400: 400;
  --fw-700: 700;
}

body {
  font-family: var(--ff-Outfit);
  background-color: var(--cc-lightGray);
}

.app {
  margin: 1.5em;
}

.app-box {
  padding: 1.5em;
  border-radius: 20px;
  background-color: var(--cc-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.app-image {
  width: 100%;
  border-radius: 10px;
}

.app-title {
  margin-top: 20px;
  font-weight: var(--fw-700);
  font-size: 6vw;
  color: var(--cc-darkBlue);
}

.app-paragraph {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: var(--fw-400);
  font-size: 4.5vw;
  color: var(--cc-grayBlue);
}

@media only screen and (min-width: 465px) {
  .app {
    margin: 2em;
  }
}

@media only screen and (min-width: 545px) {
  .app {
    margin: 2.5em;
  }
}

@media only screen and (min-width: 625px) {
  .app {
    margin: 20%;
  }

  .app-title {
    font-size: 4vw;
  }

  .app-paragraph {
    font-size: 3vw;
  }
}

@media only screen and (min-width: 1100px) {
  .app {
    margin: 37%;
  }

  .app-title {
    font-size: 1.8vw;
  }

  .app-paragraph {
    font-size: 1.3vw;
  }
}

@media only screen and (min-width: 1440px) {
  .app {
    margin: 37%;
  }

  .app-title {
    font-size: 1.8vw;
  }

  .app-paragraph {
    font-size: 1.3vw;
  }
}
